{% extends "Coder/base.html" %}

{% block title %}
<h2>Listado de Asesores</h2>
{% endblock title %}
    
{% block contenido %}
    

    <table border="1">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </thead>
        <tbody>
            {% for asesor in asesores %}
                <tr>
                    <td>{{asesor.id_asesor}}</td>
                    <td>{{asesor.nombre}}</td>
                    <td>{{asesor.apellido}}</td>
                    <td>{{asesor.email}}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button><a href="{% url 'Coder:index' %}">Atrás</a></button>
    <button><a href="{% url 'Coder:index' %}">Inicio</a></button>

{% endblock contenido %}


