{% load static %}
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'Coder/assets/img/Noruega.jpg' %}" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Acerca de Asesores de Viajes</h4>
                        <p class="text-black-50 mb-0">Asesores de Viajes es una empresa creada con el fin de ayudar tanto al viajero como al asesor de viajes en tener constancia de quién lo asesoró en su viaje o a quién asesoro, respectivamente.</p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'Coder/assets/img/Alemania.jpg' %}" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Viajero</h4>
                                <p class="mb-0 text-white-50">Pensado especialmente para usted que quiere llevar el registro de sus viajes. Además, contará con la información de sus Asesores quienes lo seguirán ayudando, a lo largo de todo el recorrido, para hacer de su viaje una experiencia única.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'Coder/assets/img/montaña.jpg' %}" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Asesor</h4>
                                <p class="mb-0 text-white-50">Como asesores, sabemos lo importante que es contar con los registros de viaje en los que hemos participado. Aquí no solo podrán hacerlo sino también podrán continuar en contacto con los viajeros para próximos viajes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>