{% load static %}
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'Coder/assets/img/Noruega.jpg' %}" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Acerca del Proyecto Final</h4>
                        <p class="text-black-50 mb-0">Mi nombre es Josefina Bozzola, soy Actuario, y decidí realizar como proyecto final una página que sirva de nexo entre Asesores de Viajes y Viajeros.</p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'Coder/assets/img/Alemania.jpg' %}" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Viajero</h4>
                                <p class="mb-0 text-white-50">Como viajeros, no solo queremos llevar registro de nuestros viajes, sino también, contar con la información de nuestros Asesores. Esto nos servirá para mantener contacto y poder solicitarles ayuda en cualquier momento. Así hará que la planificación de su viaje sea un momento agradable y cero estresante.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{% static 'Coder/assets/img/montaña.jpg' %}" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Asesor</h4>
                                <p class="mb-0 text-white-50">Nosotros, los asesores, sabemos lo importante que es contar con los registros de viaje en los que hemos participado. Aquí no solo podrán hacerlo sino también podrán continuar en contacto con los viajeros para próximos viajes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>