{% extends 'Coder/base.html' %}

{% block title %}
    | Login
{% endblock title %}

{% block content_title %}
    <div class="m-3 strong"> 
    Login
    </div>
{% endblock content_title %}

{% block contenido %}
    
    <form method="post" class="form-control">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'Coder:index' %}">

        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        <a href="{% url 'Coder:index' %}" class="btn btn-secondary">Cancelar</a>

    </form>

{% endblock contenido %}