{% extends "Coder/base.html" %}


{% block title %}
    | Viaje
{% endblock title %}
    
{% block content_title %}
<div class="m-2 strong"> 
    <h5><strong>Nuestros Destinos</strong></h5>
</div>
{% endblock content_title %}
    
{% block contenido %}

    <div class="container">
        <div class="mb-4">
            <form method="get">
                <input type="text" class="form-control" name="consulta" placeholder="Buscar Pais">
            </form>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">Pais</th>
                <th class="text-center">Ciudad</th>
              </tr>
            </thead>
            <tbody>
              {% for categoria in object_list %}
                <tr>
                  <td class="text-center">{{ categoria.pais}}</td>
                  <td class="text-center">{{ categoria.ciudad}}</td>
                  <td>
                    <a href="{% url 'viaje:viajecategoria_detail' categoria.id%}" class="btn btn-primary me-2">Detalle</a>
                    <a href="{% url 'viaje:viajecategoria_update' categoria.id %}" class="btn btn-warning me-2">Editar</a>
                    <a href="{% url 'viaje:viajecategoria_confirm_delete' categoria.id %}" class="btn btn-danger">Eliminar</a>
                  </td>                    
                </tr>
              {% empty %}
                <tr>
                  <td class="text-center">No hay categorías disponibles.</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'viaje:index' %}" class="py-2 btn btn-dark m-2">Atrás</a>

{% endblock contenido %}
