{% extends "Coder/base.html" %}


{% block title %}
    | Viaje
{% endblock title %}
    
{% block content_title %}
<div class="m-2 strong"> 
    <h5><strong>Confirmar Eliminación de Destino</strong></h5>
</div>
{% endblock content_title %}


{% block contenido %}
  <div class="container">
    <h1 class="mt-4"></h1>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">¿Estás seguro de que deseas eliminar la categoría "{{ object.pais }}"?</h5>
        <p class="card-text">Esta acción no se puede deshacer.</p>
      </div>
    </div>

    <div class="mt-4">
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'viaje:viajecategoria_detail' object.id %}" class="btn btn-secondary">Cancelar</a>
      </form>
    </div>
  </div>
{% endblock contenido %}